<h1>SPForm Module</h1>
<h2>Description</h2>
<p>Quickly create native long forms using a simple JSON file.</p>
<h2>Accessing the SPForm Module</h2>
<p>To access this module from JavaScript, you would do the following:</p>
<pre><code>var spform = require("sp.form");
</code></pre>
<p>The spform variable is a reference to the Module object.  <br />
</p>
<h2>Reference</h2>
<p>This module has 4 methods attached.</p>
<h3><strong>_PROJECTNAMEASIDENTIFIER</strong>.function</h3>
<p>TODO: This is an example of a module function.</p>
<h2>Usage</h2>
<p>TODO: Enter your usage example here</p>
<h2>Author</h2>
<p>TODO: Enter your author name, email and other contact
details you want to share here. </p>
<h2>License</h2>
<p>TODO: Enter your license/legal information here.</p>